# Npm
node_modules
npm-debug.log

# Git
.gitkeep

# Lint
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintignore
.stylelintrc.js
.stylelintrc.cjs

# Cypress
**/cypress.config.ts
**/cypress

# Tests
.turbo/
coverage

# Docker
**/Dockerfile
.dockerignore
docker/