# code
.vscode/*
!.vscode/vue-dsfr.code-snippets
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# modules
node_modules
**/node_modules

# env
.env
.env.ci
.env.test
.env.prod
.env.int
.env.codespace

# cypress
screenshots
downloads

# init-db
apps/server/src/init/db/imports/data

# act
**/act/artifacts
**/act/docker/registry/auth
**/act/docker/registry/data

# vitest
coverage
apps/client/vite.config.*.timestamp-*.mjs
apps/server/vite.config.*.timestamp-*.mjs

# sonarqube
.scannerwork

# keycloak
keycloak/data

# turbo
.turbo

# kube config
.kubeconfig

# dist
dist
build

#types
apps/server/types/

# plugins
apps/server/src/plugins/external

# integration helm values
env/dso-values-int.yaml