{
  "**/client/**/*.{js,ts,vue}": "pnpm run format --filter client",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}