# App

SERVER_PORT=4000
SESSION_SECRET=a-very-strong-secret-with-more-than-32-char
PROJECT_PATH=forge-mi/projects

# Database in /env/.env

# Keycloak, More in /env/.env

KEYCLOAK_CLIENT_ID=dso-console-backend
KEYCLOAK_CLIENT_SECRET=client-secret-backend

# Services
ARGOCD_URL=https://argo-cd.readthedocs.io
GITLAB_URL=https://gitlab.com
HARBOR_URL=https://goharbor.io
NEXUS_URL=https://sonatype.com/products/nexus-repository
SONARQUBE_URL=https://www.sonarqube.org
VAULT_URL=https://www.vaultproject.io
