@import url("./markdown.css");

html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.disabled {
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}

.fr-fieldset {
  margin: 1rem 0 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}

.fr-checkbox-group {
  margin-bottom: 1rem;
}

.disabled-tile {
  background-color: var(--background-disabled-grey);
  box-shadow: var(--border-disabled-grey);
}

.disabled-tile:hover {
  background-color: var(--background-disabled-grey);
}

.disabled-tile h3 {
  color: var(--text-disabled-grey);
}

.disabled-tile a {
  @apply cursor-not-allowed;
}
