/* https://github.com/sindresorhus/github-markdown-css */
@import url("github-markdown-css/github-markdown.css");


.markdown-body {
  /* Tokens */
  --prism-comment: var(--grey-625-425);
  --prism-string: var(--blue-france-sun-113-625);
  --prism-literal: var(--blue-france-sun-113-625);
  --prism-keyword: var(--grey-200-850);
  --prism-function: var(--green-bourgeon-main-640);
  --prism-deleted: var(--red-marianne-main-472);
  --prism-class: var(--red-marianne-main-472);
  --prism-builtin: var(--yellow-tournesol-main-731);
  --prism-property: var(--yellow-tournesol-main-731);
  --prism-namespace: var(--blue-france-sun-113-625);
  --prism-punctuation: var(--grey-200-850);
  --prism-decorator: var(--prism-class);
  --prism-operator: var(--prism-punctuation);
  --prism-number: var(--prism-literal);
  --prism-boolean: var(--prism-literal);
  --prism-variable: var(--prism-literal);
  --prism-constant: var(--prism-literal);
  --prism-symbol: var(--prism-literal);
  --prism-interpolation: var(--prism-literal);
  --prism-selector: var(--prism-keyword);
  --prism-keyword-control: var(--prism-keyword);
  --prism-regex: var(--prism-string);
  --prism-json-property: var(--prism-property);
  --prism-inline-background: var(--prism-background);

  /* Token Styles */
  --prism-comment-style: italic;
  --prism-url-decoration: underline;

  background-color: var(--background-default-grey);
  color: var(--text-default-grey);
  text-size-adjust: 100%;
  margin: 0;
  font-family: Marianne, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body ul {
  list-style: inherit;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body img {
  width: 100%;
  background-color: var(--background-default-grey);
}

.markdown-body .highlight pre, 
.markdown-body pre {
  background-color: var(--background-alt-grey);
  color: var(--color);
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: .5px solid var(--border-default-grey);
}

.markdown-body code {
  background-color: var(--background-contrast-grey);
  color: var(--color);
}

.markdown-body blockquote {
  background-color: var(--background-contrast-grey);
  border-left-color: var(--border-default-blue-france);
  color: var(--text-mention-grey);
}

.markdown-body table th,
.markdown-body table tr,
.markdown-body table td {
  border: .5px solid var(--border-default-grey);
}

.markdown-body table tr {
  background-color: var(--background-default-grey);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--background-alt-grey);
}

/* Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment);
  font-style: var(--prism-comment-style);
}

.token.namespace {
  color: var(--prism-namespace);
}

.token.interpolation {
  color: var(--prism-interpolation);
}

.token.string {
  color: var(--prism-string);
}

.token.punctuation {
  color: var(--prism-punctuation);
}

.token.operator {
  color: var(--prism-operator);
}

.token.keyword.module,
.token.keyword.control-flow {
  color: var(--prism-keyword-control);
}

.token.url,
.token.symbol,
.token.inserted {
  color: var(--prism-symbol);
}

.token.constant {
  color: var(--prism-constant);
}

.token.string.url {
  text-decoration: var(--prism-url-decoration);
}

.token.boolean,
.language-json .token.boolean {
  color: var(--prism-boolean);
}

.token.number,
.language-json .token.number {
  color: var(--prism-number);
}

.token.variable {
  color: var(--prism-variable);
}

.token.keyword {
  color: var(--prism-keyword);
}

.token.atrule,
.token.attr-value,
.token.selector {
  color: var(--prism-selector);
}

.token.function {
  color: var(--prism-function);
}

.token.deleted {
  color: var(--prism-deleted);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name {
  color: var(--prism-class);
}

.token.tag,
.token.builtin {
  color: var(--prism-builtin);
}

.token.attr-name,
.token.property,
.token.entity {
  color: var(--prism-property);
}

.language-json .token.property {
  color: var(--prism-json-property);
}

.token.regex {
  color: var(--prism-regex);
}

.token.decorator,
.token.annotation {
  color: var(--prism-decorator);
}