DEV_KUBECONFIG_PATH= # where the kubeconfig is on you FS
KUBECONFIG_PATH=/home/node/.kube/config # where the kubeconfig is in container

# DB
DB_HOST=postgres
DB_PORT=5432
DB_NAME=dso-console-db
DB_USER=admin
DB_PASS=admin

# KEYCLOAK COMMONS
# PLEASE DEFINE THIS SECTION WITH YOUR REAL INTEGRATION TOOLS
KEYCLOAK_PROTOCOL= # http or https
KEYCLOAK_DOMAIN= # where your keycloak is accessible
KEYCLOAK_REALM= # you real realm
